<h1 class="title" data-aos="fade-down">{{site.about_me_title}}</h1>
<p class="description" data-aos="zoom-in">
    👋 Llevo <strong>16 años</strong> en TMB dentro del área de mantenimiento de metro. En estos años he adquirido experiencia en el <strong>liderazgo</strong> de equipos humanos, soporte a <strong>SAP</strong>, <strong>coordinación</strong> entre distintas áreas y <strong>gestión de proyectos</strong>.
</p>
<p class="description" data-aos="zoom-in">
    📚 Soy <strong>Ingeniero Informático</strong> con especialidad en ingeniería de computadores. Tengo una sólida base en <strong>Électrónica</strong> y Automatización industrial
</p>

<p class="description" data-aos="zoom-in">
    🤖 Me apasiona la Raspberry Pi / Arduino y exprimir todo su pontencial en el <strong>IoT</strong>. 
</p>

<p class="description" data-aos="zoom-in">
    💻 Me gusta descubrir y compartir mi propio código en  <a class="highlight-link"
      href="https://github.com/cgasper79" target="_blank" rel="noreferrer"> Github </a>. Diseño webs económicas para autónomos y pequeños negocios en  <a class="highlight-link"
      href="https://gasperwebdesign.com" target="_blank" rel="noreferrer"> Gasperwebdesign.com </a>.
</p>

<p class="description" data-aos="zoom-in">
    
</p>

<p class="description" data-aos="zoom-in">
    👥 Participo en <a class="highlight-link"
    href="https://www.cibervoluntarios.org" target="_blank" rel="noreferrer"> Cibervoluntarios.org </a>.
</p>

